* {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  font-family: "Otomanopee One", sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.container {
  border: dashed;
  border-width: thick;
  text-align: center;
  color: rgb(58, 173, 245);
  background-color: rgba(43, 158, 235, 0.199);
}

.heading2 {
  text-align: center;
  color: green;
  margin-top: auto;
  font-style: italic;
}

.heading3 {
  text-align: center;
  color: rgba(16, 141, 64, 0.432);
}

#newTaskForm {
  color: rgb(9, 71, 109);
  text-style: italic;
}
