.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px; 
}
.card-title {
text-align: center;
color: rgb(58, 173, 245);
background-color: rgba(43, 158, 235, 0.199);
border-style: solid;
border-width: thick;
}
.list-group {
background-color: aliceblue;
}
.card-body {
background-color: aliceblue;
}
.card-body {
justify-content: center;
}